.result {
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    visibility: hidden;
  }
  .resultContainer {
    width: 73.2rem;
    background: var(--white);
    border: 4px solid var(--purple);
    transition: all 500ms ease;
  }

  .buttonCalculate:focus ~ .result {
    opacity: 1;
    visibility: visible;
  }