.containerTitle {
  padding-left: 48px;
  padding-top: 40px;
}
.title {
  margin: 0;
  color: var(--black);
}
.subtitle {
  margin: 0;
  font-weight: 400;
  color: var(--blue);
  font-size: 60px;
  padding-left: 40px;
  position: relative;
  bottom: 10px;
}
@media (max-width: 760px) {
  .containerTitle {
    padding: 0;
    margin: 15px;
  }
  .subtitle {
    font-size: 34px;
    padding-left: 20px;
  }
  .title {
    font-size: 22px;
  }
}
