.containerEntry {
  display: flex;
  align-items: center;
  justify-content: center;
}
.containerInputs {
  margin-inline: 50px;
  padding-block: 20px;
  background-color: var(--purple);
  border-radius: 10px;
  height: auto;
  display: flex;
  justify-content: space-around;
}
.border {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.titleInput {
  color: var(--white);
  margin: 0;
}
.buttons {
  padding-top: 18px;
  display: flex;
  flex-direction: column;
  padding-top: 28px;
}
.buttonCalculate.MuiButton-contained {
  background-color: var(--blue);
  color: var(--white);
  font-family: 'Red Hat Display';
  font-size: 18px;
  height: 50px;
  border-radius: 8px;
}
.buttonAdd.MuiButton-text {
  padding: 0;
  color: var(--white);
  font-family: 'Red Hat Display';
  font-size: 10px;
  text-transform: none;
}
.inputName {
  background-color: var(--white);
  border-radius: 3px;
  padding-inline: 10px;
  height: 55px;
  width: 100%;
}
.containerInsemination {
  margin-bottom: 5px;
}
.containerData {
  width: 280px;
}
.containerDate {
  background-color: var(--white);
  border-radius: 7px;
  width: 100%;
}
.settings {
  margin-inline: 10px;
  margin-top: 5px;
}

@media (max-width: 1120px) {
  .containerInputs {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-inline: 20px;
    padding: 10px;
  }
  .containerData {
    width: 100%;
  }
}
