:root {
  /* Colors */
  --black: #292f35;
  --gray: #a5b6b7;
  --purple: #8940fa;
  --purpleLight: #cfb0ff;
  --blue: #41d6b9;
  --blueLight: #aaf8e8;
  --white: #ffffff;
  --grayLight: #f2f2f2;
  --grayLight2: #707070;
  --grayDark: #4b5354;
  --green: #228b22;
  --red: #ff0000;
  /* Font family */
  --fontPrimary: 'Red Hat Display', 'sans-serif';
  /* Font Weight */
  --bold: 700;
  --medium: 500;
  --regular: 400;
  --light: 100;
}
html {
  scroll-behavior: smooth;
}
body {
  position: relative;
  margin: 0 auto;
  font-family: var(--fontPrimary);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--black);
  transition: 1s all;
  max-width: 1800px;
}

h1,
h2 {
  font-size: 30px;
  font-weight: var(--bold);
}

a {
  text-decoration: none;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
